In [1]:
class Global(object):
    pass

class Sys (Global):
    pass

class Control(Sys):
    pass

In [2]:
import numpy as np

In [ ]:
class Global(object):
    k=0
    T = 0.1
    tf = 10
    t = np.arange(0,tf,T)
    

class Sys (Global):
    
    
    def __init__(self):
        self.k1 = 10
        self.k2 = 20
        self.x = np.zeros_like(t)
        
    def sigPaso(self):
        _k = Global.k
        self.x[k+1]
        
    
        

class Control(Sys):
    pass

In [280]:
class Sys (object):
    #Nos da el valor del estado en xk y xk1
    
    def __init__(self,x0):
        self.k=0
        self.n = 20
        self.x_ = [x0]
         

    @property
    def x(self):
        if self.k < len(self.x_):
            xtmp = self.x_[self.k]
            self.k +=1
            return xtmp


    @x.setter
    def xk1(self,val):
        if self.k+1 != self.n:
            self.x_.append(val) 
        else:
            print("Sys error")

In [281]:
s1 = Sys(10)

In [283]:
s1.x,s1.k,len(s1.x_)

(None, 1, 1)

In [260]:
s1.xk1 = 21

In [261]:
s1.x

21

In [267]:
s1.x_,s1.k

([10, 21], 2)

In [284]:
class Sys (object):
    #Nos da el valor del estado en xk y xk1
    
    def __init__(self,x0):
        self.k=0
        self.n = 20
        self.x_ = [x0]
         

    @property
    def x(self):                
        return self.x_[self.k]


    @x.setter
    def xk1(self,val):
        self.k +=1
        self.x_.append(val)

In [285]:
s1 = Sys(20)

In [289]:
s1.k,s1.x,s1.x_,len(s1.x_)

(0, 20, [20], 1)

In [295]:
s1.xk1 = 21

In [296]:
s1.k,s1.x,s1.x_,len(s1.x_)

(1, 21, [20, 21], 2)

In [302]:
s1.x

21

In [311]:
s1.xk1 = 21

In [312]:
s1.k,s1.x,s1.x_,len(s1.x_)

(7, 21, [20, 21, 21, 21, 21, 21, 21, 21], 8)

In [490]:
class Global(object):
    k=0
    T = 0.1
    tf = 10
    t = np.arange(0,tf,T)
    

class Sys (Global):
    #Nos da el valor del estado en xk y xk1
    
    def __init__(self,x0):
        self.k=0
        self.n = 20
        self.x_ = [x0]
         

    @property
    def x(self):                
        return self.x_[self.k]


    @x.setter
    def xk1(self,val):
        self.k +=1
        self.x_.append(val) 
    
    def Sim(self,u):
        self.xk1 = 2*self.x + u 

class Control(Sys):
    
    def __init__(self,P,x0):
        Sys.__init__(self,x0)
        self.u_ = [0]
        
    @property
    def u(self):
        return self.u_[self.k]
        
    @u.setter
    def u(self,val):
        self.u_.append(val)
        
    def init_control(self):
        self.u = self.x *( self.x -2  )
        self.Sim(self.u)

        
class Manejador(Control):
    
    def __init__(self,P,x0):
        super().__init__(P,x0)
        
        
    def init_simula(self):
        self.init_control()

In [491]:
s1.k,s1.x,s1.x_,len(s1.x_)

(0, 10, [10], 1)

In [442]:
c1 = Control(-2,10)

In [443]:
c1.x,c1.u

(10, 0)

In [444]:
m1 = Manejador(10,23)

In [445]:
m1.x,m1.u,m1.x_

(23, 0, [23])

In [447]:
m1.x,m1.u,m1.x_,m1.init_simula(),m1.u_

(46, 483, [23, 46, 575], None, [0, 483, 2024])

https://stackoverflow.com/questions/37564798/python-property-on-a-list

In [476]:
class C:
    def __init__(self):
        self._x = [1, 2, 3]

    @property
    def x(self):
        print("getter")
        return self._x
    @x.setter
    def x(self, value):
        print("setter")
        self._x = value

    def __getitem__(self, idx):
        print("getitem")
        return self._x[idx]

    def __setitem__(self, idx, value):
        print("setitem")
        self._x[idx] = value

In [486]:
c1 = C()

In [487]:
c1.x

getter

[1, 2, 3]

In [488]:
c1.x[0] = 2

getter

In [489]:
c1.x

getter

[2, 2, 3]

In [482]:
c1.x = 5

setter

In [520]:
class Mundo(object):
    T = 0.01

    def __init__(self):
        self.t = [0]
        self.k = 0
        
    def simular(self):
        self.t.append(1)
        self.k +=1
    
    def muestra(self):
        print(f"clase Mundo k:{self.k}, t: {self.t}")
        
class Sistema(Mundo):
    
    def __init__(self,x0):
        super().__init__()
        self.x_ = [x0]
        self.k1 = 2
      
    @property
    def x(self):
        return self.x_[self.k]
    
    @x.setter
    def xk1(self,val):
        self.x_.append(val)
        
    def simular(self):
        #Solo esta parte de codigo se modifica para el sistema
        self.xk1= self.k1*self.x
        super().simular()
        
    def muestra(self):
        print(f"clase Sistema x: {self.x}, x_:{self.x_} ")
        super().muestra()

In [530]:
s1 = Sistema(2)

In [531]:
s1.muestra()

clase Sistema x: 2, x_:[2]
clase Mundo k:0, t: [0]

In [545]:
s1.simular()
s1.muestra()

clase Sistema x: 32768, x_:[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768]
clase Mundo k:14, t: [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

clase Sistema x: 2, x_:[2, 2, 4]
clase Mundo k:1, t: [0, 1]

In [453]:
#!pip install html5lib

In [454]:
import pandas as pd

data1 = pd.read_html('http://www.espn.com/nhl/statis‌​tics/player/‌​_/stat/point‌​s/sort/point‌​s/year/2015&‌​#47;seasontype/2‌​',skiprows=1)[0]

ImportError: html5lib not found, please install it

In [456]:
import io
import requests
import pandas as pd
from zipfile import ZipFile

In [457]:
r = requests.get('http://www.contextures.com/SampleData.zip')
ZipFile(io.BytesIO(r.content)).extractall()

In [458]:
df = pd.read_excel('SampleData.xlsx', sheet_name='SalesOrders')

In [459]:
df

    OrderDate   Region       Rep     Item  Units  Unit Cost    Total
0  2018-01-06     East     Jones   Pencil     95       1.99   189.05
1  2018-01-23  Central    Kivell   Binder     50      19.99   999.50
2  2018-02-09  Central   Jardine   Pencil     36       4.99   179.64
3  2018-02-26  Central      Gill      Pen     27      19.99   539.73
4  2018-03-15     West   Sorvino   Pencil     56       2.99   167.44
5  2018-04-01     East     Jones   Binder     60       4.99   299.40
6  2018-04-18  Central   Andrews   Pencil     75       1.99   149.25
7  2018-05-05  Central   Jardine   Pencil     90       4.99   449.10
8  2018-05-22     West  Thompson   Pencil     32       1.99    63.68
9  2018-06-08     East     Jones   Binder     60       8.99   539.40
10 2018-06-25  Central    Morgan   Pencil     90       4.99   449.10
11 2018-07-12     East    Howard   Binder     29       1.99    57.71
12 2018-07-29     East    Parent   Binder     81      19.99  1619.19
13 2018-08-15     East     Jones   Pencil     35       4.99   174.65
14 2018-09-01  Central     Smith     Desk      2     125.00   250.00
15 2018-09-18     East     Jones  Pen Set     16      15.99   255.84
16 2018-10-05  Central    Morgan   Binder     28       8.99   251.72
17 2018-10-22     East     Jones      Pen     64       8.99   575.36
18 2018-11-08     East    Parent      Pen     15      19.99   299.85
19 2018-11-25  Central    Kivell  Pen Set     96       4.99   479.04
20 2018-12-12  Central     Smith   Pencil     67       1.29    86.43
21 2018-12-29     East    Parent  Pen Set     74      15.99  1183.26
22 2019-01-15  Central      Gill   Binder     46       8.99   413.54
23 2019-02-01  Central     Smith   Binder     87      15.00  1305.00
24 2019-02-18     East     Jones   Binder      4       4.99    19.96
25 2019-03-07     West   Sorvino   Binder      7      19.99   139.93
26 2019-03-24  Central   Jardine  Pen Set     50       4.99   249.50
27 2019-04-10  Central   Andrews   Pencil     66       1.99   131.34
28 2019-04-27     East    Howard      Pen     96       4.99   479.04
29 2019-05-14  Central      Gill   Pencil     53       1.29    68.37
30 2019-05-31  Central      Gill   Binder     80       8.99   719.20
31 2019-06-17  Central    Kivell     Desk      5     125.00   625.00
32 2019-07-04     East     Jones  Pen Set     62       4.99   309.38
33 2019-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34 2019-08-07  Central    Kivell  Pen Set     42      23.95  1005.90
35 2019-08-24     West   Sorvino     Desk      3     275.00   825.00
36 2019-09-10  Central      Gill   Pencil      7       1.29     9.03
37 2019-09-27     West   Sorvino      Pen     76       1.99   151.24
38 2019-10-14     West  Thompson   Binder     57      19.99  1139.43
39 2019-10-31  Central   Andrews   Pencil     14       1.29    18.06
40 2019-11-17  Central   Jardine   Binder     11       4.99    54.89
41 2019-12-04  Central   Jardine   Binder     94      19.99  1879.06
42 2019-12-21  Central   Andrews   Binder     28       4.99   139.72

<table>
  <thead>
    <tr>
      <th>Programming Language</th>
      <th>Creator</th> 
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>C</td>
      <td>Dennis Ritchie</td> 
      <td>1972</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>Guido Van Rossum</td> 
      <td>1989</td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Yukihiro Matsumoto</td> 
      <td>1995</td>
    </tr>
  </tbody>
</table>

In [460]:
html_string = """
<table>
  <thead>
    <tr>
      <th>Programming Language</th>
      <th>Creator</th> 
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>C</td>
      <td>Dennis Ritchie</td> 
      <td>1972</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>Guido Van Rossum</td> 
      <td>1989</td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Yukihiro Matsumoto</td> 
      <td>1995</td>
    </tr>
  </tbody>
</table>
"""

In [461]:
from IPython.display import display_html
display_html(html_string, raw=True)

Programming Language,Creator,Year
C,Dennis Ritchie,1972
Python,Guido Van Rossum,1989
Ruby,Yukihiro Matsumoto,1995

In [464]:
dfs = pd.read_html(html_string)
dfs

[  Programming Language             Creator  Year
 0                    C      Dennis Ritchie  1972
 1               Python    Guido Van Rossum  1989
 2                 Ruby  Yukihiro Matsumoto  1995]

In [468]:
import requests
import lxml.html as lh
import pandas as pd

In [466]:
url='http://pokemondb.net/pokedex/all'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
page

In [470]:
doc = lh.fromstring(page.content)
doc

In [471]:
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [473]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [475]:
from xml.etree import ElementTree as ET

s = """<table>
  <tr><th>Event</th><th>Start Date</th><th>End Date</th></tr>
  <tr><td>a</td><td>b</td><td>c</td></tr>
  <tr><td>d</td><td>e</td><td>f</td></tr>
  <tr><td>g</td><td>h</td><td>i</td></tr>
</table>
"""

table = ET.XML(s)
rows = iter(table)
headers = [col.text for col in next(rows)]
for row in rows:
    values = [col.text for col in row]
    print (dict(zip(headers, values)))

{'Event': 'a', 'Start Date': 'b', 'End Date': 'c'}
{'Event': 'd', 'Start Date': 'e', 'End Date': 'f'}
{'Event': 'g', 'Start Date': 'h', 'End Date': 'i'}